<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html;  charset=UTF-8" />
</head>
<body>
<form action="#"  th:action="@{/main}">
    <p><h3>Task1</h3></p>
    <p>Реализовать форму для записи данных о пользователе, содержащую фамилию, имя, отчество, возраст, уровень зарплаты, адрес электронной почты и место работы. </p>
    <p>Данные должны записываться в файл в выбранном вами формате. Для простоты можно считать, что файл создан на backend e и находится в classpath вашего приложения. </p>
    <p>Формат хранения записей может быть произвольным.</p>

    <p><h3>Task2</h3></p>
    <p>Необходимо выполнять простейшую валидацию входных данных. Критерии валидации придумать самостоятельно. Но не менее чем для двух полей.</p>
    <p>Можно и нужно активно использовать регулярные выражения.</p>
    <p><a href="/registration">Registration</a></p>

    <p><h3>Task3</h3></p>
    <p>Обеспечить возможность получения данных о пользователе по фамилии и имени.</p>
    <P>Если пользователь найден, то дополнительно к выводимой информации добавить текущее время и имя браузера (user-agent) с которого был выполнен запрос. </p>
    <p>Если такого пользователя нет в файле, то выполнить переадресацию (redirect) на страницу с сообщением что пользователь не найден.</p>
    <p>Либо вернуть подходящий для данного случая статус код (см. HTTP protocol RFC document) используя ResponseEntity сущность. </p>
    <p><a href="/findInformationByName">Find user</a></p>

    <p><h3>Task4</h3></p>
    <p>Реализовать возможность загрузки данных о пользователе из внешнего файла (file upload)</p>
    <p><a href="/upload">Upload additional information of user</a></p>

    <p><h3>Task5</h3></p>
    <p>Реализовать возможность отправки текстового сообщения на почту пользователя</p>
    <p><a href="/emailForm">Write message</a></p>
</form>
</div>
</body>
</html>